@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

::-webkit-scrollbar{
    display: none;
}

nav{
    z-index: 99;
    height: 15vh;
    width: 97vw;
    display: flex;
    position: fixed;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.right{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 15vh;
}
.right a{
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding: 5vh;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    overflow-y: hidden;
}

.right a:hover{
    color: white;
    background-color: rgb(101, 125, 235);
    font-size: 2em;
}

.left{
    display: flex;
    justify-content: end;
    margin-top: 1.5vh;
    margin-left: 2vh;
    width: 21vw;
    height: 12vh;
    background-repeat: no-repeat;
    background-image: url("media/logo.png");
    background-size: cover;
}

video{
    float: left;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:-1; 
}

.anim{
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    z-index: 89;
    background-image: url("media/pixel.gif");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top: 70vh;
    margin-left: 55vw;
    position: absolute;
    animation: spin 25s linear infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(359deg)};
}

.s1 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 25vh;
    margin-left: 10vw;
    margin-right: 20vw;
    padding: 2vh;
    color: white;
    font-size: 4em;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    border-top-right-radius: 5vh;
    transition: 0.5s;
}

.s1 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 10vw;
    margin-right: 20vw;
    padding: 2vh;
    padding-top: 0vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
}

.s1 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 35vw;
    font-size: 2.5em;
    padding: 2vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
    border-top-right-radius: 5vh;
}
.s1 h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 10vw;
    margin-right: 35vw;
    padding: 2vh;
    padding-top: 0vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
}

.s2{
    height: 95vh;
    width: 100vw;
    margin-top: 14vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s2title{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2title h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s2title span{
    font-size: 0.4em;
    color: rgb(101, 125, 235);
}

.s2bg{
    z-index: 90;
    height: 70vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2bgt h1{
    width: 60vw;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    margin-right: 10vh;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s2bgimg{
    margin-top: 5vh;
    margin-right: 5vh;
    background-image: url("media/map.png");
    height: 60vh;
    width: 32vw;
    background-size: cover;
    float: left;
}

.s3{
    height: 102vh;
    width: 100vw;
    background-image: url("media/bg.png");
}

.s3title{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3title h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s3title span{
    font-size: 0.4em;
    color: rgb(101, 125, 235);
}

.s3a{
    display: flex;
    height: 66vh;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}
.s3a1{
    z-index: 90;
    height: 60vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3a1img{
    background-size: cover;
    background-image: url("media/earth.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s3a1h1{
    display: block;
    height: 12vh;
    width: 100%;
}
.s3a1h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3a1p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3a2{
    z-index: 90;
    height: 60vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3a2img{
    background-size: cover;
    background-image: url("media/exhibit.jpg");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s3a2h1{
    display: block;
    height: 12vh;
    width: 100%;
}
.s3a2h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3a2p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3a3{
    z-index: 90;
    height: 60vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3a3img{
    background-size: cover;
    background-image: url("media/earthquake.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s3a3h1{
    display: block;
    height: 16vh;
    width: 100%;
}
.s3a3h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3a3p p{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3link{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s3link h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3link h1:hover{
    color:rgb(101, 125, 235);
    font-size: 3.2em;
}

.s3link a{
    text-align: center;
    text-decoration: none;
}

footer{
    height: 60vh;
    width: 100vw;
    background-color: black;
}

.fleft{
    width: 50vw;
    display: inline-block;
}
.flogo{
    background-image: url("media/logowhite.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2vh;
    margin-left: 1vw;
    height: 10vh;
    width: 14vw;
}

.ftext{
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1vw;
    margin-top: 2vh;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow-y: hidden;
}

.flink{
    margin-top: 3vh;
    display: inline-block;
}
.flink a{

    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 1vw;
    padding: 2vh;
    padding-top: 2vh;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
}

.flink a:hover{
    font-size: 1.7em;
    color: white;
    background-color:rgb(101, 125, 235)
}

.flinks{
    margin-top: 2vh;
    height: 20vh;
    width: 14vw;
    display: flex;
    float: right;
}

.flinks a{
    height: 5vh;
    width: 5vh;
    color: white;
}

#fb{
    background: url('media/spritesheet.png') no-repeat -439px -146px;
	width: 66px;
	height: 66px;
}

#tw{
    background: url('media/spritesheet.png') no-repeat -66px -72px;
    width: 67px;
    height: 66px;
}

#yt{
    background: url('media/spritesheet.png') no-repeat -439px -221px;
	width: 66px;
	height: 66px;
}

/* page 2 */
/* page 2 */
/* page 2 */

.s1img{
    float: left;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:-1; 
    background-image: url("media/outside.png");
    background-size: cover;
}

.s2p2{
    height: 110vh;
    width: 100vw;
    margin-top: 14vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s2i{
    display: flex;
    height: 75vh;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}

.s2i1{
    z-index: 90;
    height: 70vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2i1img{
    background-size: cover;
    background-image: url("media/tiia.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s2i1h1{
    display: block;
    height: 12vh;
    width: 100%;
}
.s2i1h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2i1p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2i2{
    z-index: 90;
    height: 70vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2i2img{
    background-size: cover;
    background-image: url("media/bionic.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s2i2h1{
    display: block;
    height: 12vh;
    width: 100%;
}
.s2i2h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2i2p p{
    margin-left: 2vw;
    margin-right: 5vw;
    margin-top: 3vh;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2i3{
    z-index: 90;
    height: 70vh;
    width: 32vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2i3img{
    background-size: cover;
    background-image: url("media/city.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 32vw;
}

.s2i3h1{
    display: block;
    height: 16vh;
    width: 100%;
}
.s2i3h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2i3p p{
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s2bottom{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s3p2{
    height: 141vh;
    width: 100vw;
    background-image: url("media/bg.png");
}

.s3inv{
    display: flex;
    height: 53vh;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}

.s3i1{
    z-index: 90;
    height: 50vh;
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3i1img{
    background-size: cover;
    background-image: url("media/robot.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 48vw;
}

.s3i1h1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3i1h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i1p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i2{
    z-index: 90;
    height: 50vh;
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3i2img{
    background-size: cover;
    background-image: url("media/earthquake2.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 48vw;
}

.s3i2h1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3i2h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i2p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3inv2{
    display: flex;
    height: 53vh;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}

.s3i3{
    z-index: 90;
    height: 50vh;
    width: 48vw;
    display: block;
    margin: auto;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3i3img{
    background-size: cover;
    background-image: url("media/microscope.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 48vw;
}

.s3i3h1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3i3h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i3p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i4{
    z-index: 90;
    height: 50vh;
    width: 48vw;
    display: block;
    margin: auto;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3i4img{
    background-size: cover;
    background-image: url("media/forest.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 30vh;
    width: 48vw;
}

.s3i4h1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3i4h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3i4p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3bottom{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

@media screen and (max-width: 605px){
    nav{
        height: 10vh;
    }
    .left{
        width: 12.5vw;
        height: 8vh;
        background-image: url("media/icon.png");
    }
    .right{
        height: 10vh;
    }
    .right a{
        padding: 3vh;
        font-size: 1em;
    }
    .right a:hover{
        color: white;
        background-color: rgb(101, 125, 235);
        font-size: 0.9em;
    }
    .anim{
        width: 100px;
        height: 100px;
        margin-left: 45vh;
    }
    .s1 h1{
        margin-top: 18vh;
        font-size: 1.8em;
    }
    .s1 h2{
        font-size: 1em;
    }
    .s1 h3{
        font-size: 1.8em;
    }
    .s1 h4{
        font-size: 1em;
    }
    .s2{
        margin-top: 7vh;
        height: 60vh;
    }
    .s2title{
        height: 10vh;
    }
    .s2title h1{
        font-size: 1.5em;
    }
    .s2bg{
        height: 40vh;
    }
    .s2bgt{
        font-size: 0.5em;
    }
    .s2bgimg{
        height: 15vh;
        width: 21vw;
    }
    .s3{
        height: 92vh;
    }
    .s3title{
        height: 10vh;
    }
    .s3title h1{
        font-size: 1.5em;
    }
    .s3a1h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a2h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a3h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a3h1{
        height: 20vh;
    }
    .s3a1img{
        height: 20vh;
        width: 32vw;
    }

    .s3a2img{
        height: 20vh;
        width: 32vw;
    }

    .s3a3img{
        height: 20vh;
        width: 32vw;
    }
    .s3a1p p{
        font-size: 0.8em;
    }
    .s3a2p p{
        font-size: 0.8em;
    }
    .s3a3p p{
        font-size: 0.8em;
    }
    .s3link{
        height: 10vh;
    }
    .s3link h1{
        padding: 1vh;
        padding-top: 3vh;
        padding-left: 1vw;
        font-size: 1.5em;
        height: 10vh;
    }
    .s3link h1:hover{
        font-size: 1.6em;
    }
    .ftext{
        font-size: 1em;
    }
    .flink{
        font-size: 0.6em;
    }
    .flinks{
        width: 35vw;
    }

    .s2p2{
        height: 100vh;
    }
    .s2i1img{
        height: 20vh;
        width: 32vw;
    }
    .s2i2img{
        height: 20vh;
        width: 32vw;
    }
    .s2i3img{
        height: 20vh;
        width: 32vw;
    }
    .s2i1h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i2h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i3h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i1p p{
        font-size: 0.8em;
    }
    .s2i2p p{
        font-size: 0.8em;
    }
    .s2i3p p{
        font-size: 0.8em;
    }
    .s2bottom{
        height: 10vh;
    }

    .s3p2{
        height: 130vh;
    }
    .s3i1h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i2h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i3h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i4h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }

    .s3i1p p{
        font-size: 0.6em;
    }
    .s3i2p p{
        font-size: 0.6em;
    }
    .s3i3p p{
        font-size: 0.6em;
    }
    .s3i4p p{
        font-size: 0.6em;
    }

    .s3bottom{
        height: 10vh;
    }

    .s2p3bgt{
        font-size: 1em;
    }
}

.s4{
    height: 120vh;
    width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s4a{
    height: 85vh;
}
.s4a1{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4a1left{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4a1right{
    float: right;
    height: 20vh;
    width: 48vw;
}

.s4a1img{
    background-size: cover;
    float: right;
    background-image: url("media/plant.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4a1h1{
    height: 10vh;
    width: 100%;
}
.s4a1h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a1p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a2{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: block;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4a2left{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4a2right{
    float: right;
    height: 20vh;
    width: 48vw;
}

.s4a2img{
    background-size: cover;
    float: right;
    background-image: url("media/hospital.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4a2h1{
    height: 10vh;
    width: 100%;
}
.s4a2h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a2p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a3{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: block;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4a3left{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4a3right{
    float: right;
    height: 20vh;
    width: 48vw;
}

.s4a3img{
    background-size: cover;
    float: right;
    background-image: url("media/tech.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4a3h1{
    height: 10vh;
    width: 100%;
}
.s4a3h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a3p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a4{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: block;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4a4left{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4a4right{
    float: right;
    height: 20vh;
    width: 48vw;
}

.s4a4img{
    background-size: cover;
    float: right;
    background-image: url("media/earth.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4a4h1{
    height: 10vh;
    width: 100%;
}
.s4a4h1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4a4p p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4bottom{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

/* page 3 */
/* page 3 */
/* page 3 */

.s1p3img{
    float: left;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:-1; 
    background-image: url("media/earth2.png");
    background-size: cover;
}

.s2p3{
    height: 100vh;
    width: 100vw;
    margin-top: 14vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s2p3bg{
    z-index: 90;
    height: 70vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2p3bgt h1{
    width: 60vw;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    margin-right: 10vh;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s2p3bgimg{
    border-radius: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
    background-image: url("media/earth.png");
    height: 60vh;
    width: 32vw;
    background-size: cover;
    float: left;
}

.s3p3{
    height: 120vh;
    width: 100vw;
    background-image: url("media/bg.png");
}

.s3vm{
    display: flex;
    height: 83vh;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}

.s3v{
    z-index: 90;
    height: 80vh;
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3vimg{
    background-size: cover;
    background-image: url("media/exhibit.jpg");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 50vh;
    width: 48vw;
}

.s3vh1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3vh1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3vp p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3m{
    z-index: 90;
    height: 80vh;
    width: 48vw;
    display: block;
    margin: auto;
    margin-top: 3vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3mimg{
    background-size: cover;
    background-image: url("media/outside.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 50vh;
    width: 48vw;
}

.s3mh1{
    display: block;
    height: 10vh;
    width: 100%;
}
.s3mh1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3mp p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3p3bottom{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    text-align: center;
    margin-top: 2vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4p3{
    height: 80vh;
    width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s4h{
    height: 43vh;
}
.s4d{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4dleft{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4dright{
    float: right;
    height: 20vh;
    width: 48vw;
}

.s4dimg{
    background-size: cover;
    float: right;
    background-image: url("media/robot.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4dh1{
    height: 10vh;
    width: 100%;
}
.s4dh1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4dp p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4i{
    z-index: 90;
    height: 20vh;
    width: 97vw;
    display: block;
    margin: auto;
    margin-top: 1vh;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s4ileft{
    z-index: 91;
    float: left;
    height: 20vh;
    width: 49vw;
}

.s4iright{
    float: right;
    height: 20vh;
    width: 48vw;
}
.s4iimg{
    background-size: cover;
    float: right;
    background-image: url("media/tech.png");
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 20vh;
    width: 48vw;
}

.s4ih1{
    height: 10vh;
    width: 100%;
}
.s4ih1 h1{
    line-height: 0.8;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s4ip p{
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

@media screen and (max-width: 605px){
    nav{
        height: 10vh;
    }
    .left{
        width: 12.5vw;
        height: 8vh;
        background-image: url("media/icon.png");
    }
    .right{
        height: 10vh;
    }
    .right a{
        padding: 3vh;
        font-size: 1em;
    }
    .right a:hover{
        color: white;
        background-color: rgb(101, 125, 235);
        font-size: 0.9em;
    }
    .anim{
        width: 100px;
        height: 100px;
        margin-left: 45vh;
    }
    .s1 h1{
        margin-top: 18vh;
        font-size: 1.8em;
    }
    .s1 h2{
        font-size: 1em;
    }
    .s1 h3{
        font-size: 1.8em;
    }
    .s1 h4{
        font-size: 1em;
    }
    .s2{
        margin-top: 7vh;
        height: 60vh;
    }
    .s2title{
        height: 10vh;
    }
    .s2title h1{
        font-size: 1.5em;
    }
    .s2bg{
        height: 40vh;
    }
    .s2bgt{
        font-size: 0.5em;
    }
    .s2bgimg{
        height: 15vh;
        width: 21vw;
    }
    .s3{
        height: 92vh;
    }
    .s3title{
        height: 10vh;
    }
    .s3title h1{
        font-size: 1.5em;
    }
    .s3a1h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a2h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a3h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s3a3h1{
        height: 20vh;
    }
    .s3a1img{
        height: 20vh;
        width: 32vw;
    }

    .s3a2img{
        height: 20vh;
        width: 32vw;
    }

    .s3a3img{
        height: 20vh;
        width: 32vw;
    }
    .s3a1p p{
        font-size: 0.8em;
    }
    .s3a2p p{
        font-size: 0.8em;
    }
    .s3a3p p{
        font-size: 0.8em;
    }
    .s3link{
        height: 10vh;
    }
    .s3link h1{
        padding: 1vh;
        padding-top: 3vh;
        padding-left: 1vw;
        font-size: 1.5em;
        height: 10vh;
    }
    .s3link h1:hover{
        font-size: 1.6em;
    }
    .ftext{
        font-size: 1em;
    }
    .flink{
        font-size: 0.6em;
    }
    .flinks{
        width: 35vw;
    }

    .s2p2{
        height: 100vh;
    }
    .s2i1img{
        height: 20vh;
        width: 32vw;
    }
    .s2i2img{
        height: 20vh;
        width: 32vw;
    }
    .s2i3img{
        height: 20vh;
        width: 32vw;
    }
    .s2i1h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i2h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i3h1 h1{
        font-size: 1.2em;
        margin-right: 1vh;
    }
    .s2i1p p{
        font-size: 0.8em;
    }
    .s2i2p p{
        font-size: 0.8em;
    }
    .s2i3p p{
        font-size: 0.8em;
    }
    .s2bottom{
        height: 10vh;
    }

    .s3p2{
        height: 130vh;
    }
    .s3i1h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i2h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i3h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }
    .s3i4h1{
        font-size: 0.6em;
        margin-right: 1vh;
    }

    .s3i1p p{
        font-size: 0.6em;
    }
    .s3i2p p{
        font-size: 0.6em;
    }
    .s3i3p p{
        font-size: 0.6em;
    }
    .s3i4p p{
        font-size: 0.6em;
    }

    .s3bottom{
        height: 10vh;
    }

    .s2p3bgt{
        font-size: 0.6em;
    }
    .s2p3bgt h1{
        margin-right: 50vh;
    }

    .s2p3bgimg{
        height: 30vh;
    }
    .s2p3bg{
        height: 50vh;
    }
    .s2p3{
        height: 70vh;
    }
    .s3vp p{
        font-size: 0.8em;
    }
    .s3mp p{
        font-size: 0.8em;
    }
    .s3p3bottom{
        height: 10vh;
    }

    .s4dp p{
        font-size: 0.8em;
    }
    .s4ip p{
        font-size: 0.8em;
    }
}