@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

::-webkit-scrollbar{
    display: none;
}

nav{
    z-index: 99;
    height: 15vh;
    width: 97vw;
    display: flex;
    position: fixed;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.right{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 15vh;
}
.right a{
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding: 5vh;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    overflow-y: hidden;
}

.right a:hover{
    color: white;
    background-color: rgb(101, 125, 235);
    font-size: 2em;
}

.left{
    display: flex;
    justify-content: end;
    margin-top: 1.5vh;
    margin-left: 2vh;
    width: 21vw;
    height: 12vh;
    background-repeat: no-repeat;
    background-image: url("media/logo.png");
    background-size: cover;
}

video{
    float: left;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index:-1; 
}

.s1 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 25vh;
    margin-left: 10vw;
    margin-right: 20vw;
    padding: 2vh;
    color: white;
    font-size: 4em;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    border-top-right-radius: 5vh;
    transition: 0.5s;
}

.s1 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 10vw;
    margin-right: 20vw;
    padding: 2vh;
    padding-top: 0vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
}

.s1 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 35vw;
    font-size: 2.5em;
    padding: 2vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
    border-top-right-radius: 5vh;
}
.s1 h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 10vw;
    margin-right: 35vw;
    padding: 2vh;
    padding-top: 0vh;
    color: white;
    text-shadow: 5px 5px 10px rgba(60, 60, 60, 0.31);
    background-color:rgba(101, 126, 235, 0.668);
    transition: 0.5s;
}

.s2{
    height: 95vh;
    width: 100vw;
    margin-top: 14vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(236,239,255,1) 0%, rgba(255,255,255,1) 100%);
}

.s2title{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2title h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s2title span{
    font-size: 0.4em;
    color: rgb(101, 125, 235);
}

.s2bg{
    z-index: 90;
    height: 70vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s2bgt h1{
    width: 60vw;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    margin-right: 10vh;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s2bgimg{
    margin-top: 5vh;
    margin-right: 5vh;
    background-image: url("media/map.png");
    height: 60vh;
    width: 32vw;
    background-size: cover;
    float: left;
}

.s3{
    height: 110vh;
    width: 100vw;
    background-image: url("media/bg.png");
}

.s3title{
    z-index: 90;
    height: 15vh;
    width: 97vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3title h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
}

.s3title span{
    font-size: 0.4em;
    color: rgb(101, 125, 235);
}

.s3a{
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
}
.s3a1{
    z-index: 90;
    height: 60vh;
    width: 30vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3a2{
    z-index: 90;
    height: 60vh;
    width: 30vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3a3{
    z-index: 90;
    height: 60vh;
    width: 30vw;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
}

.s3link{
    z-index: 90;
    height: 15vh;
    width: 30vw;
    display: flex;
    margin: auto;
    border-radius: 1vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,239,255,1) 100%);
    box-shadow: 5px 5px 20px grey;
    transition: 0.5s;
}

.s3link h1{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 4vh;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.s3link h1:hover{
    color:rgb(101, 125, 235);
    font-size: 3.2em;
}

.s3link a{
    text-align: center;
    text-decoration: none;
}

footer{
    height: 60vh;
    width: 100vw;
    background-color: black;
}

.fleft{
    width: 50vw;
    display: inline-block;
}
.flogo{
    background-image: url("media/logowhite.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2vh;
    margin-left: 1vw;
    height: 10vh;
    width: 14vw;
}

.ftext{
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1vw;
    margin-top: 2vh;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow-y: hidden;
}

.flink{
    margin-top: 3vh;
    display: inline-block;
}
.flink a{

    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 1vw;
    padding: 2vh;
    padding-top: 2vh;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
}

.flink a:hover{
    font-size: 1.7em;
    color: white;
    background-color:rgb(101, 125, 235)
}

.flinks{
    margin-top: 2vh;
    height: 20vh;
    width: 14vw;
    display: flex;
    float: right;
}

.flinks a{
    height: 5vh;
    width: 5vh;
    color: white;
}

#fb{
    background: url('media/spritesheet.png') no-repeat -439px -146px;
	width: 66px;
	height: 66px;
}

#tw{
    background: url('media/spritesheet.png') no-repeat -66px -72px;
    width: 67px;
    height: 66px;
}

#yt{
    background: url('media/spritesheet.png') no-repeat -439px -221px;
	width: 66px;
	height: 66px;
}